<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<date>2019-04-27T09:32:20Z</date>
		<key>address</key>
		<string>安徽绩溪</string>
		<key>event</key>
		<string>爬徽杭古道</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-04-27T09:32:20Z</date>
		<key>address</key>
		<string>安徽绩溪</string>
		<key>event</key>
		<string>爬徽杭古道</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-04-27T09:32:20Z</date>
		<key>address</key>
		<string>安徽绩溪</string>
		<key>event</key>
		<string>爬徽杭古道</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-04-27T09:32:20Z</date>
		<key>address</key>
		<string>安徽绩溪</string>
		<key>event</key>
		<string>爬徽杭古道</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-04-27T09:32:20Z</date>
		<key>address</key>
		<string>安徽绩溪</string>
		<key>event</key>
		<string>爬徽杭古道</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-04-27T09:32:20Z</date>
		<key>address</key>
		<string>安徽绩溪</string>
		<key>event</key>
		<string>爬徽杭古道</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
</array>
</plist>
