<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<date>2019-04-06T09:32:20Z</date>
		<key>address</key>
		<string>安徽宣城,绩溪</string>
		<key>event</key>
		<string>爬徽杭古道</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2008-09-01T09:32:20Z</date>
		<key>address</key>
		<string>河南濮阳,市一高</string>
		<key>event</key>
		<string>理科分班相遇</string>
		<key>latitude</key>
		<real>35.769377</real>
		<key>longitude</key>
		<real>115.0217243</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2015-04-27T09:32:20Z</date>
		<key>address</key>
		<string>广东广州,中山大学</string>
		<key>event</key>
		<string>雪媚娘晚宴</string>
		<key>latitude</key>
		<real>23.110705</real>
		<key>longitude</key>
		<real>113.2801894</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-01-11T09:32:20Z</date>
		<key>address</key>
		<string>上海,环球港</string>
		<key>event</key>
		<string>借口出差</string>
		<key>latitude</key>
		<real>31.2309047</real>
		<key>longitude</key>
		<real>121.388447</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-03-03T09:32:20Z</date>
		<key>address</key>
		<string>浙江杭州,紫金港</string>
		<key>event</key>
		<string>傻姑娘第一次来杭州</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-27T09:32:20Z</date>
		<key>address</key>
		<string>英国伦敦,海德公园</string>
		<key>event</key>
		<string>毕业典礼</string>
		<key>latitude</key>
		<real>51.5285582</real>
		<key>longitude</key>
		<real>-0.2416799</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-05-31T09:32:20Z</date>
		<key>address</key>
		<string>韩国仁川,首尔塔</string>
		<key>event</key>
		<string>接一页页从法国回来</string>
		<key>latitude</key>
		<real>37.5511694</real>
		<key>longitude</key>
		<real>126.9860379</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-10-28T09:32:20Z</date>
		<key>address</key>
		<string>陕西西安,西工大</string>
		<key>event</key>
		<string>史老师分享留学经验</string>
		<key>latitude</key>
		<real>34.2442326</real>
		<key>longitude</key>
		<real>108.9177677</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
