<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<date>2019-04-06T09:32:20Z</date>
		<key>address</key>
		<string>安徽宣城,绩溪</string>
		<key>event</key>
		<string>爬徽杭古道</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2008-09-01T09:32:20Z</date>
		<key>address</key>
		<string>河南濮阳,市一高</string>
		<key>event</key>
		<string>理科分班相遇</string>
		<key>latitude</key>
		<real>35.769377</real>
		<key>longitude</key>
		<real>115.0217243</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2015-06-10T09:32:20Z</date>
		<key>address</key>
		<string>广东广州,中山大学</string>
		<key>event</key>
		<string>雪媚娘晚宴</string>
		<key>latitude</key>
		<real>23.110705</real>
		<key>longitude</key>
		<real>113.2801894</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-01-11T09:32:20Z</date>
		<key>address</key>
		<string>上海,环球港</string>
		<key>event</key>
		<string>借口出差</string>
		<key>latitude</key>
		<real>31.2309047</real>
		<key>longitude</key>
		<real>121.388447</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-03-03T09:32:20Z</date>
		<key>address</key>
		<string>浙江杭州,紫金港</string>
		<key>event</key>
		<string>傻姑娘第一次来杭州</string>
		<key>latitude</key>
		<real>30.140163</real>
		<key>longitude</key>
		<real>118.7471113</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-27T09:32:20Z</date>
		<key>address</key>
		<string>英国伦敦,海德公园</string>
		<key>event</key>
		<string>毕业典礼</string>
		<key>latitude</key>
		<real>51.5285582</real>
		<key>longitude</key>
		<real>-0.2416799</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-05-31T09:32:20Z</date>
		<key>address</key>
		<string>韩国仁川,首尔塔</string>
		<key>event</key>
		<string>接一页页从法国回来</string>
		<key>latitude</key>
		<real>37.5511694</real>
		<key>longitude</key>
		<real>126.9860379</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-10-28T09:32:20Z</date>
		<key>address</key>
		<string>陕西西安,西工大</string>
		<key>event</key>
		<string>史老师分享留学经验</string>
		<key>latitude</key>
		<real>34.2442326</real>
		<key>longitude</key>
		<real>108.9177677</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-08-17T09:32:20Z</date>
		<key>address</key>
		<string>浙江宁波,杭州湾大桥</string>
		<key>event</key>
		<string>妈妈见面,红月亮</string>
		<key>latitude</key>
		<real>30.469658</real>
		<key>longitude</key>
		<real>121.1157263</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-02-25T17:08:20Z</date>
		<key>address</key>
		<string>浙江杭州,九曲十八涧</string>
		<key>event</key>
		<string>龙井爬山</string>
		<key>latitude</key>
		<real>30.20296</real>
		<key>longitude</key>
		<real>120.1179323</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-02-15T19:32:20Z</date>
		<key>address</key>
		<string>上海,娄山关路</string>
		<key>event</key>
		<string>人生中第一次送花</string>
		<key>latitude</key>
		<real>31.2110983</real>
		<key>longitude</key>
		<real>121.4024111</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-04-09T21:32:20Z</date>
		<key>address</key>
		<string>浙江杭州,黄龙体育馆</string>
		<key>event</key>
		<string>第一次看演唱会 五月天</string>
		<key>latitude</key>
		<real>30.2670805</real>
		<key>longitude</key>
		<real>120.1322023</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-03-18T09:32:20Z</date>
		<key>address</key>
		<string>浙江嘉兴,西塘古镇</string>
		<key>event</key>
		<string>第一次旅行</string>
		<key>latitude</key>
		<real>30.9387862</real>
		<key>longitude</key>
		<real>120.8825382</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2019-12-26T19:32:20Z</date>
		<key>address</key>
		<string>上海,山羊GOAT</string>
		<key>event</key>
		<string>第一次一起看脱口秀</string>
		<key>latitude</key>
		<real>31.220863</real>
		<key>longitude</key>
		<real>121.4521533</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-12-22T09:32:20Z</date>
		<key>address</key>
		<string>江苏苏州,同德兴</string>
		<key>event</key>
		<string>打卡面馆</string>
		<key>latitude</key>
		<real>31.307955</real>
		<key>longitude</key>
		<real>120.6189753</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-09T06:32:20Z</date>
		<key>address</key>
		<string>江苏无锡,鼋头渚</string>
		<key>event</key>
		<string>第一次Double Date</string>
		<key>latitude</key>
		<real>31.519559</real>
		<key>longitude</key>
		<real>120.2324723</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-07-09T09:32:20Z</date>
		<key>address</key>
		<string>浙江湖州,中南百草原</string>
		<key>event</key>
		<string>第一次一起逛动物园</string>
		<key>latitude</key>
		<real>30.674561</real>
		<key>longitude</key>
		<real>119.6486353</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2017-08-20T09:32:20Z</date>
		<key>address</key>
		<string>浙江金华,横店影视城</string>
		<key>event</key>
		<string>第一次见大学室友</string>
		<key>latitude</key>
		<real>29.161817</real>
		<key>longitude</key>
		<real>120.3668383</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<real>0</real>
		<key>longitude</key>
		<real>0</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<real>0</real>
		<key>longitude</key>
		<real>0</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<real>0</real>
		<key>longitude</key>
		<real>0</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<real>0</real>
		<key>longitude</key>
		<real>0</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<real>0</real>
		<key>longitude</key>
		<real>0</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<real>0</real>
		<key>longitude</key>
		<real>0</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<real>0</real>
		<key>longitude</key>
		<real>0</real>
	</dict>
	<dict>
		<key>time</key>
		<date>2018-04-26T09:32:20Z</date>
		<key>address</key>
		<string>/</string>
		<key>event</key>
		<string>/</string>
		<key>latitude</key>
		<real>0</real>
		<key>longitude</key>
		<real>0</real>
	</dict>
</array>
</plist>
